.album{class: album.host.downcase}
  - unless open_album
    %input(type="checkbox")
  %p.host
    - unless open_album
      %strong
        = link_to album do
          \##{album.id}
    %time= format_date album.played_on, :shortmonth
    %a= album.host
  %figure
    %img{src: 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', alt: album.title, data: { artist: album.artist } }
  .info
    %h1.title= album.title
    %p.artist by #{album.artist}
  %div.tracks
    %table
      %tbody
