= simple_form_for(@album, html: {novalidate: true}) do |f|
  - if @album.errors.any?
    #error_explanation
      %h2
        = pluralize(@album.errors.count, "error")
        prohibited this album from being saved:
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title, :number => 1 #, :label_html => { :for => 'something' }
  = f.input :artist
  = f.input :host, as: :email
  = f.input :played_on

  .actions
    = f.submit
