.albums
  - @albums.each do |album|
    .album
      %input(type="checkbox")
      %div
        %figure
          %img{src: 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', alt: album.title, data: { artist: album.artist } }
        .info
          %h1.title= album.title
          %p.artist by #{album.artist}
          %p.host
            = succeed ', ' do
              = album.host
            = format_date album.played_on, :shortmonth
        %ol.tracks
