- @albums.each do |album|
  .album.media-block
    .media-block__image
      = image_tag 'transparent.gif', alt: album.title, class: 'js-remote-image', data: { artist: album.artist }
    .media-block__body
      %h1= album.title
      %p= album.artist
      %p
        = succeed ', ' do
          = album.host
        = format_date album.played_on, :shortmonth