<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Host:</strong>
  <%= @album.host %>
</p>

<p>
  <strong>Played on:</strong>
  <%= @album.played_on.strftime('%e %B %Y') %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'Back', albums_path %>