<!DOCTYPE html>
<html>
<head>
  <title>Album Club</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="http://fonts.googleapis.com/css?family=Coda+Caption:800" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= controller.controller_name %>-<%= controller.action_name %>">

<div id="user_nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to 'Sign out', signout_path %>
  <% else %>
    <%= link_to 'Sign in with Twitter', '/auth/twitter'%>
  <% end %>
</div>

<% if notice.present? %>
  <p><%= notice %></p>
<% end %>

<div id="wrapper"><%= yield %></div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
